.cafe-property-icon-container {
    position: relative;
}

.hover-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
    text-wrap: nowrap;
}