@import "../../../Style/variables";

.forgot-password-container {
    background-image: url("../../../assets/images/about-bg.jpg");
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $text-color;
}


.forgot-password-content {
    flex: 1;
}