$primary-bg-color: #2c2018;
$secondary-bg-color: #4c3830;
$text-color: #fff;
$accent-color: #c0a080;
$accent-dark-color: #8c704e;
$link-color: #b87333;
$logo-color: rgb(251, 217, 116);
$primary-font: "Neuton", serif;
$secondary-font: "Bebas Neue", sans-serif;
$tercier-font: "Open Sans", sans-serif;
$brand-font: "Dancing Script", cursive;