@import "../../../Style/variables";

footer {
    background-color: $secondary-bg-color-transparent;
    color: $text-color;
    padding: 10px;
    text-align: center;
  }

.footer-text {
    font-family: $tercier-font;
}

.list-inline .list-inline-item a {
    color: $text-color;
}

.list-inline .list-inline-item a:hover {
    color: $logo-color;
}
