@import "./Style/variables";

html,
body {
  background-color: $primary-bg-color;
  font-family: $primary-font;
  font-weight: 700;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}