@import "../../../Style/variables";

.button-with-logo {
    background-color: $secondary-bg-color;
    border: none;
    width: max-content;
    padding: 0 2dvw;
    font-weight: 600;
    text-wrap: nowrap;
    border-radius: 10px;
    color: $text-color;
}

.button-with-logo:hover {
    background-color: $accent-color;
    color: $primary-bg-color;
}